* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .icon {
  width: 200px;
}

svg {
  stroke-dasharray: 1300;
  stroke-dashoffset: 0;
}

svg {
  animation: animate-logo 2s linear forwards;
}
@keyframes animate-logo {
  to {
    stroke-dashoffset: 2600;
  }
}
